---
import BlogTemplates from "../BlogTemplates.astro";
import Container from "../Container";

const allPosts = await Astro.glob("../../../pages/posts/*.md");

const tags = [
    ...new Set(allPosts.map((post) => post?.frontmatter?.tags).flat()),
];
---

<section>
    <Container>
        <div class="mb-20">            
            <div class="mb-6 flex flex-wrap gap-4 items-center justify-center">
                {
                    tags?.map((tag) => (
                        <div>
                            <a
                                class="w-full no-underline hover:underline text-muted-foreground underline-offset-8 hover:text-opacity-80 opacity-100 block bg-dark text-tertiary py-2 px-2 text-sm text-center"
                                href={`/tags/${tag}`}
                            >
                                {tag}
                            </a>
                        </div>
                    ))
                }
            </div>

            <div
                class="grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-x-4 gap-x-0 sm:gap-y-10 gap-y-10"
            >
                {
                    allPosts.map((post) => (
                        <BlogTemplates
                            url={post.url}
                            title={post.frontmatter.title}
                            img={post.frontmatter.image?.url}
                            tags={post.frontmatter.tags}
                            post={post}
                        />
                    ))
                }
            </div>
        </div>
    </Container>
</section>
